.is--hidden {
  display: none;
}

#root {
  display: flex;
}

.container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}